<!-- <div class="container d-flex flex-wrap" >
    <app-product-item *ngFor="let product of items" [product]="product"></app-product-item>
</div> -->

<header id="site-header">
    <div class="container">
        <h1>Shopping cart </h1>
    </div>
</header>

<div class="container">

    <section id="cart"> 
        <article class="product" *ngFor="let prod of items">
            <header>
                <a class="remove">
                    <img src="{{prod.img}}" alt="">

                    <h3>Remove product</h3>
                </a>
            </header>

            <div class="content">

                <h1>{{prod.name}}</h1>

                {{prod.desc}}

                <div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"></div>
                <div style="top: 43px" class="type small">XXL</div>
            </div>

            <footer class="content">
                <span class="qt-minus">-</span>
                <span class="qt">2</span>
                <span class="qt-plus">+</span>

                <h2 class="full-price">
                    29.98$
                </h2>

                <h2 class="price">
                    ${{prod.price}}
                </h2>
            </footer>
        </article>
    </section>
</div>

<footer id="site-footer">
    <div class="container clearfix">

        <div class="left">
            <h2 class="subtotal">Subtotal: <span>163.96</span>€</h2>
            <h3 class="tax">Taxes (5%): <span>8.2</span>€</h3>
            <h3 class="shipping">Shipping: <span>5.00</span>€</h3>
        </div>

        <div class="right">
            <h1 class="total">Total: <span>177.16</span>€</h1>
            <a class="btn">Checkout</a>
        </div>

    </div>
</footer>